*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: black;
}
/* The main title on the site  */
h1{
    position: relative;
    top: -70px;
    left: 120px;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

/* The position of the main tab  */
#menu{
    position: sticky;
    top:0;
    z-index: 1;
}

/*Tab attributes*/
#menu-header-view{
    display: flex;
    justify-content: space-between;
    height: 95px;
}

/* Logo positioning */
#menu-logo-view{
	padding-left: 20px;
	width: 375px;
}

/* The logo on the tab side */
#menu-logo{
	width:100px;
}

#menu-list-positioning{
	padding: 35px 30px 0 0;
}

/* Tab buttons attributes*/
#menu-list li{
    color: black;
	border: 3px solid black;
	border-radius: 50px;
	display: inline;
    list-style: none;
    padding: 5px 20px 5px 20px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    transition: all 0.5s;
}

/* Tab buttons effects */
#menu-list li:hover{
	border: 3px solid white;
	background: white;
	transition: all 0.5s;
}

#menu-list a{
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: aqua;
}
