*{
	margin: 0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
	background: lightblue;
}

.section-container{
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.paragraph-align{
    width: 450px;
    margin: 80px 0 0 180px;
}

#menu-title{
       font-family: 'Dancing Script', cursive;
       font-size: 100px;
}

#menu-description p{
    font-family: 'Dancing Script', cursive;
	color: green;
	font-size: 50px;
	padding: 30px 0 30px 0;
}

#menu-photo img{
    position: relative;
    height: 650px;
    top: 8px;
}
